<div class="d-flex justify-content-center align-items-center vh-100" style="background-image: url('/images/PaymentPage.jpg'); background-size:cover; background-repeat: no-repeat;
	background-attachment: fixed; background-position: center;">

	@* <img src="~/images/OrderSuccess.png" class="rounded-2 img-fluid" style="opacity:0.7"/> *@
	<img src="~/images/payment.gif" style="height:400px; width:800px" />

</div>